* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "Croissant One", cursive;
  color: #37423D;
  justify-content: center;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 80px;
  text-align: center;
  margin-top: auto;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  font-weight: 300;
  color: #37423D;
  justify-content: center;
}

h5 {
  font-size: 36px;
}

p {
  font-size: 16px;
}

img {
  max-width: 100%;
}

.navbar-brand {
  font-family: "Croissant One", cursive;
  font-size: 26px;
  color: white;
}

.navbar-brand:hover {
  color: #BEB7A4;
}

body {
  margin: 0;
  line-height: inherit;
  font-family: "Roboto", sans-serif;
  background-color: #BEB7A4;
}

nav {
  background-color: #37423D;
}

.flex {
  display: flex;
}

.navbar {
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
  color: #BEB7A4 !important;
}

.nav-link {
  font-size: 16px;
  color: white;
}

.bi {
  font-size: 1.5rem;
}

.bi-instagram {
  color: rgb(216, 98, 137);
}

.bi-youtube {
  color: red;
}

.bi-facebook {
  color: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conatiner {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: rgb(45, 45, 45);
  padding: 80px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
  padding-left: 100px;
}

.footer-links h4 {
  font-size: 20px;
  color: white;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #BEB7A4;
  padding-bottom: 10px;
  display: inline-block;
  list-style: none;
}

.footer-links ul li a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-top: 10px;
  transition: all 0.3s ease;
  list-style: none;
}

.footer-links ul li a:hover {
  color: antiquewhite;
  padding-left: 6px;
  list-style: none;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
  list-style: none;
}

.social-link a:hover {
  background-color: antiquewhite;
}

@media (max-width: 991px) {
  .footer-row {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 15px;
  }
}
.list-style-none {
  list-style: none;
  display: inline;
}

#portada {
  background: url(../img/portada.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  z-index: 0;
  margin-top: -50px;
}

#portada h1 {
  text-align: center;
  font-weight: bold;
  font-family: "Croissant One", cursive;
  color: #37423D;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
}

@media (min-width: 520px) {
  #portada {
    height: 30vh;
  }
  #portada h1 {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  #portada {
    height: 70vh;
  }
  #portada h1 {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  #portada {
    height: 80vh;
  }
  #portada h1 {
    font-size: 60px;
  }
}
/*CARDS DEL INDEX*/
#collection .card-index {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: auto;
  margin: auto;
}
#collection .card-index .box {
  box-sizing: border-box;
  display: inline-block;
  margin: auto;
  position: relative;
  border-radius: 8px;
}
#collection .card-index .imgbox {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
#collection .card-index img {
  height: 250px;
  width: 350px;
  max-width: 100%;
  transition: transform 2s;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.imgbox h3 {
  text-align: center;
  margin-top: 30px;
  justify-content: center;
  font-size: 30px;
  padding: 20px;
  margin: 20px;
  color: #37423D;
  font-weight: 700;
  letter-spacing: 1px;
}

.container-fluid .box:hover .imgbox img {
  transform: scale(1.2);
  border-radius: 8px;
  justify-content: center;
}

@media (min-width: 720px) {
  .card-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (min-width: 1018px) {
  .card-index {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
.cards-things {
  padding-bottom: 150px;
  margin-top: 100px;
}

.col {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .cards-things {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
  }
}
@media (min-width: 1150px) {
  .cards-things {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
  margin: 50px;
}

.card-night {
  margin-bottom: 100px;
  margin-top: 50px;
  margin: auto;
  width: 100%;
}

@media (min-width: 750px) {
  .card-night {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .item-container {
    position: relative;
    gap: 20px;
    margin-bottom: 50px;
    margin-left: 18px;
    height: 515px;
    width: 320px;
    overflow: hidden;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    cursor: pointer;
    border-radius: 20px;
  }
}
@media (min-width: 1016px) {
  .card-night {
    grid-template-columns: repeat(3, 1fr);
  }
}
.item-container {
  position: relative;
  gap: 20px;
  margin-bottom: 50px;
  margin-left: 18px;
  height: 515px;
  width: 320px;
  overflow: hidden;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  cursor: pointer;
  border-radius: 20px;
}

.item-container .body-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.img-container img {
  width: 100%;
}

.body-container {
  position: relative;
}

.overlay {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #37423D;
  opacity: 0;
  transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
  opacity: 1;
  height: 150px;
}

.event-info {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  height: 480px;
  width: auto;
}

.title, .price {
  color: #37423D;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.1px;
  margin: 4px;
}

.info-description {
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-right: 8px;
  margin-left: 8px;
}

.info {
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}

.additional-info {
  border-top: 2px solid #bbb;
  margin-top: 10px;
  padding: 16px;
  padding-bottom: 60px;
}

.additional-info .info {
  border-top: 0.9em;
  margin-bottom: 20px;
  text-align: center;
}

.info i {
  color: rgb(2, 1, 4);
  font-size: 1.1em;
  margin-right: 4px;
}

.action {
  color: white;
  border: 3px solid white;
  background-color: transparent;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  outline: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color 0.4s, top 0.4s;
  text-align: center;
}

.item-container:hover .action {
  top: 50px;
}

.action:hover {
  background-color: #BEB7A4;
}

h3 {
  color: #37423D;
}

.cuerpo {
  padding-bottom: 200px;
}

.card-img-top {
  border-radius: 50px;
  padding: 20px;
  height: 240px;
  width: 400px;
}

.card {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: auto;
  padding: auto;
}

.card-title {
  font-weight: 500;
  align-content: center;
  align-items: center;
}

.card-body {
  padding: 25px;
  margin-top: -15px;
  align-content: center;
  align-items: center;
}

.btn-primary {
  color: white;
  border: 3px solid white;
  background-color: #37423D;
  position: absolute;
  width: 60%;
  outline: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color 0.4s, top 0.4s;
  text-align: center;
  margin-top: 50px;
  justify-content: center;
}

.btn-primary:hover {
  background-color: #BEB7A4;
  border-color: #37423D;
}

h1 {
  text-align: center;
  justify-content: center;
  align-content: center;
}

h5 {
  color: black;
  text-align: center;
  margin-bottom: 40px;
}

p {
  color: black;
  margin-bottom: 80px;
  text-align: center;
}

/*CONTACTS*/
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;
  background-size: cover;
  margin-top: 40px;
}
.contact .content {
  max-width: 800px;
  text-align: center;
  margin-top: -40px;
}
.contact p {
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}
.container .contactInfo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactForm {
  width: 50%;
  padding: 60px;
  background: #37423D;
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  margin-top: -90px;
}
.contactForm h2 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 5px;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox textarea {
  width: 100%;
  padding: 50px;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: white;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input [type=submit] {
  width: 100px;
  background-color: #666;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm {
    width: 100%;
  }
}
.btn {
  background-color: #BEB7A4;
  color: white;
}
.btn :hover {
  background-color: #BEB7A4;
  border-color: #37423D;
}

/*# sourceMappingURL=styles.css.map */
