#portada{
    background: url(../img/portada.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 500px;
    width: 100%;
    z-index: 0;
    margin-top: -50px;
    }

#portada h1{
    text-align: center;
    font-weight: bold;
    font-family: $fuente-secundaria;
    color:$color-primario;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}



@media (min-width:520px) {
    #portada {
        height: 30vh;
        h1{font-size: 40px;
            
        }
    }
    }

@media (min-width:768px) {
    #portada {
        height: 70vh;
        h1{font-size: 50px;
            
        }
    }
}
@media (min-width:1024px) {
    #portada {
        height: 80vh;
        h1{font-size: 60px;
            
        }
    }
}

/*CARDS DEL INDEX*/

#collection .card-index {
    display:grid;
    justify-content:center;
    align-items: center;
    grid-column: auto;
    margin: auto;
.box{
    box-sizing: border-box;
    display: inline-block;
    margin: auto;
    position: relative;
    border-radius: 8px;
    
}

.imgbox{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
& img{
    @include sizes(350px, 250px);
    max-width: 100%;
    transition: transform 2s;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}}

.imgbox h3{
text-align: center;
margin-top: 30px;
justify-content: center;
font-size: 30px;
padding:20px;
margin: 20px;
color: $color-primario;
font-weight: 700;
letter-spacing: 1px;
}
.container-fluid .box:hover .imgbox img{
    transform: scale(1.2);
    border-radius: 8px;
    justify-content: center;
    
}
@media (min-width:720px){
    .card-index{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (min-width:1018px){
    .card-index{
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}