.cards-things{
    padding-bottom: 150px;
    margin-top: 100px;
}
.col{
    margin-bottom: 40px;

}

@media (min-width:768px){
    .cards-things{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px;
    }
}

@media (min-width:1150px){
    .cards-things{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 10px;
    }
}